@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Square+Peg&display=swap");
.tituloCategorias, .tituloSecundario, .tituloPrincipal {
  font-family: "Square Peg", cursive;
  color: #E18D92;
  text-align: center;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-moz-selection {
  background-color: #E18D92;
  color: #fbe2f4;
}

*::selection {
  background-color: #E18D92;
  color: #fbe2f4;
}

.dropdown-item:hover {
  background-color: #fff;
  width: auto;
}

.textoAyuda {
  font-family: "Quicksand", sans-serif;
  color: #3F403B;
  padding: 10px;
}

.tituloPrincipal {
  font-size: xxx-large;
  padding: 20px;
}

.tituloSecundario {
  font-size: 40px;
  margin-bottom: 20px;
}

.tituloCategorias {
  font-size: xx-large;
}

.texto {
  font-family: "Quicksand", sans-serif;
  color: #3F403B;
  font-weight: 500;
  text-align: center;
  list-style-position: inside;
  font-size: larger;
  padding: 15px;
}

.textoComoComprar {
  font-family: "Quicksand", sans-serif;
  color: #3F403B;
  font-weight: 500;
  list-style-position: inside;
  font-size: large;
  margin-bottom: 5px;
  padding: 0%;
}

.textoMetodos {
  font-family: "Quicksand", sans-serif;
  color: #3F403B;
  font-weight: 500;
  list-style-position: inside;
  font-size: large;
  list-style-type: none;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
  padding: 0%;
}

.textoPuntosEntrega {
  font-family: "Quicksand", sans-serif;
  color: #3F403B;
  font-weight: 500;
  list-style-position: inside;
  font-size: large;
  list-style-type: none;
  margin-bottom: 5px;
  padding: 0%;
}

.linksContacto {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  text-align: justify;
  list-style-position: inside;
}

.productos p {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #3F403B;
}

header {
  background-color: #fcedf7;
  grid-area: header;
}
header .cajaMenu {
  background-color: #fbe2f4;
}
header .cajaMenu .logo {
  width: 120px;
  margin: 0 25px 0 25px;
}
header .cajaMenu .menu {
  list-style-type: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: large;
  text-align: justify;
  padding: 13px;
}
header .cajaMenu .menu .menuItem {
  display: inline-block;
  margin-inline: 10px;
}
header .cajaMenu .menu .menuItem a {
  color: #E18D92;
  text-decoration: none;
}
header .cajaMenu .menu .menuItem a:hover {
  color: #E18D92;
  font-weight: bolder;
  font-weight: 800;
}
header .cajaMenu .menu .active a {
  color: #E18D92;
  font-weight: bolder;
  font-weight: 800;
}

.contenedorInicio {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat 1fr 1fr 1fr 1fr;
  grid-template-areas: "header" "novedades" "nuestrosProductos" "footer";
}
.contenedorInicio .novedades {
  grid-area: novedades;
}
.contenedorInicio .novedades .carrusel {
  display: flex;
  width: 90%;
  margin-inline: 5%;
  margin-top: 5%;
  margin-bottom: 3%;
}
.contenedorInicio .novedades .carrusel .imgCarrusel {
  border-radius: 15px;
}
.contenedorInicio .nuestrosProductos .listaCajaProductos {
  display: flex;
  justify-content: center;
}
.contenedorInicio .nuestrosProductos .listaCajaProductos li {
  display: inline-block;
}
.contenedorInicio .nuestrosProductos .listaCajaProductos li .cajaProductos {
  background-color: #fbe2f4;
  width: 250px;
  height: 330px;
  margin: 30px;
  padding: 5px;
  border-radius: 3px;
}

.contenedorProductos {
  display: grid;
  grid-template-columns: repeat(1fr 1fr);
  grid-template-rows: repeat(120px 1fr 1fr 50px);
  grid-template-areas: "header header" "categorias productos" "..... productos" "footer footer";
}
.contenedorProductos .elegirCategoria .cajaCategoria {
  width: 200px;
  height: 210px;
  background-color: #fcedf7;
  margin: 20px;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
}
.contenedorProductos .elegirCategoria .cajaCategoria .filtroCategorias {
  padding: 0%;
}
.contenedorProductos .elegirCategoria .cajaCategoria .filtroCategorias .categorias.active {
  font-weight: 900;
  font-weight: bolder;
}
.contenedorProductos .elegirCategoria .cajaCategoria .filtroCategorias .categorias {
  list-style-type: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  color: #3F403B;
  margin-top: 5px;
  text-decoration: none;
}
.contenedorProductos .elegirCategoria .cajaCategoria .filtroCategorias .categorias a {
  color: #3F403B;
  text-decoration: none;
}
.contenedorProductos .elegirCategoria .cajaCategoria .filtroCategorias .categorias a:hover {
  font-weight: 900;
  font-weight: bolder;
}
.contenedorProductos .porductos {
  grid-area: productos;
}
.contenedorProductos .porductos .cajaProducto {
  background-color: #fcedf7;
  width: 250px;
  margin: 20px 0px 0px 20px;
  padding: 5px;
  border-radius: 5px;
  display: inline-block;
}
.contenedorProductos .porductos .cajaProducto p {
  padding: 5px;
}
.contenedorProductos .gridCategorias {
  grid-area: categorias;
}

.contenidoNosotras {
  display: flex;
  justify-content: center;
}
.contenidoNosotras .cajaNosotras {
  width: 700px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.contenidoNosotras .cajaNosotras img {
  width: 200px;
  margin: 3px;
}

.contenidoContacto {
  display: flex;
  justify-content: center;
}
.contenidoContacto .cajaContacto {
  width: 700px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
.contenidoContacto .cajaContacto .linksContacto {
  padding-top: 30px;
  padding-bottom: 50px;
  padding-inline: 0px;
}

.contactoWhatsapp {
  color: #00bb2d;
}

.contactoFacebook {
  color: #3b5998;
}

.contactoInstagram {
  color: #DD2A7b;
}

.contactoWhatsapp:hover {
  color: #00bb2d;
  font-weight: bold;
}

.contactoFacebook:hover {
  color: #3b5998;
  font-weight: bold;
}

.contactoInstagram:hover {
  color: #DD2A7b;
  font-weight: bold;
}

.contenidoComprar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenidoComprar .cajaComoComprar {
  margin: 30px;
  padding: 10px;
  text-align: start;
}
.contenidoComprar .cajaMetodos {
  margin: 30px;
  padding: 10px;
  text-align: center;
}
.contenidoComprar .cajaMetodos .cajaMetodo {
  width: 140px;
  display: inline-block;
  text-align: center;
  margin-inline: 20px;
}
.contenidoComprar .cajaPuntosEntrega {
  margin: 30px;
  padding: 10px;
  text-align: center;
}

.footer {
  display: flex;
  background-color: #fcedf7;
  margin-top: 40px;
  justify-content: space-around;
  grid-area: footer;
}
.footer p {
  font-family: "Quicksand", sans-serif;
  color: #3F403B;
  margin-top: 11px;
}/*# sourceMappingURL=style.css.map */