.contenidoContacto {
    display: flex;
    justify-content: center;

    .cajaContacto {
        width: 700px;
        margin: 20px;
        padding: 20px;
        text-align: center;

        .linksContacto{
            padding-top: 30px;
            padding-bottom: 50px;
            padding-inline: 0px;
        }
    }

    
}

$redes:(
    Whatsapp:#00bb2d,
    Facebook: #3b5998,
    Instagram: #DD2A7b
);

@each $redsocial, $colordered in $redes {
    .contacto#{$redsocial} {
        color: $colordered;
    }
}

@each $redsocial, $colordered in $redes {
    .contacto#{$redsocial}:hover {
        color: $colordered;
        font-weight: bold;
    }
}

