@media screen and (max-width: 810px) {
    .cajaComoComprar {
        width: 100vp;
    }

    .textoMetodos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .textoComoComprar {
        padding: 0%;
    }

    .listaCajaProductos {
        display: grid;
        grid-template-columns: (1fr 1fr);
        grid-template-rows: (1fr 1fr);
        grid-template-areas:
            "ruanas gorros"
            "pañuelos accesorios"
        ;
        padding: 0;

        .ruanasInicio {
            grid-area: ruanas;
        }

        .gorrosInicio {
            grid-area: gorros;
        }

        .pañuelosInicio {
            grid-area: pañuelos;
        }

        .accesoriosInicio {
            grid-area: accesorios;
        }
    }

    .contenedorProductos {
        display: grid;
        grid-template-columns: (1fr 1fr);
        grid-template-rows: (120px 1fr 1fr 50px);
        grid-template-areas:
            "header header"
            "categorias productos"
            "..... productos"
            "footer footer"
        ;
    }
}

@media screen and (max-width: 480px) {
    .cajaComoComprar {
        width: 100vp;
    }

    .textoMetodos {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0%;
    }

    .textoComoComprar {
        padding: 0%;
    }

    .listaCajaProductos {
        display: grid;
        grid-template-columns: (1fr);
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
            "ruanas"
            "gorros"
            "pañuelos"
            "accesorios"
        ;
        padding: 0;
    }

    .contenedorProductos {
        display: grid;
        grid-template-columns: (1fr);
        grid-template-rows: repeat(1fr 1fr 1fr 1fr);
        grid-template-areas:
            "header"
            "categorias"
            "productos"
            "footer"
        ;

        .productos {
            display: grid;
            justify-content: center;

            .cajaProducto {
                margin: 20px 0 0 0;
            }

        }


        .elegirCategoria {
            display: grid;
            justify-content: center;
        }
    }
}