@mixin tamaños($ancho, $margen) {
    width: $ancho;
    margin: $margen;
    
}.contenidoNosotras {
    display: flex;
    justify-content: center;

    .cajaNosotras {
        @include tamaños(700px, 20px);
        padding: 20px;
        text-align: center;

        img {
            @include tamaños(200px, 3px);
        }
    }
}

