.contenidoNosotras {
    display: flex;
    justify-content: center;

    .cajaNosotras {
        width: 700px;
        margin: 20px;
        padding: 20px;
        text-align: center;

        img {
            width: 100px;
            margin-top: 1px;
        }
    }
}