.textoAyuda {
    font-family: $fontSecundaria;
    color: $colorTerciario;
    padding: 10px;
}

.tituloPrincipal {
   @extend %fuenteTitulos;
    font-size: xxx-large;
    padding: 20px;
}

.tituloSecundario {
    @extend %fuenteTitulos;
    font-size: 40px;
    margin-bottom: 20px;
}

.tituloCategorias {
    @extend %fuenteTitulos;
    font-size: xx-large;

}

.texto {
    font-family: $fontSecundaria;
    color: $colorTerciario;
    font-weight: 500;
    text-align: center;
    list-style-position: inside;
    font-size: larger;
    padding: 15px;
}

.textoComoComprar {
    font-family: $fontSecundaria;
    color: $colorTerciario;
    font-weight: 500;
    list-style-position: inside;
    font-size: large;
    margin-bottom: 5px;
    padding: 0%;
}

.textoMetodos {
    font-family: $fontSecundaria;
    color: $colorTerciario;
    font-weight: 500;
    list-style-position: inside;
    font-size: large;
    list-style-type: none;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-around;
    padding: 0%;
}

.textoPuntosEntrega {
    font-family: $fontSecundaria;
    color: $colorTerciario;
    font-weight: 500;
    list-style-position: inside;
    font-size: large;
    list-style-type: none;
    margin-bottom: 5px;
    padding: 0%;
}

.linksContacto {
    font-family: $fontSecundaria;
    font-weight: 500;
    text-align: justify;
    list-style-position: inside;
}

.productos {
    p {
        font-family: $fontSecundaria;
        font-weight: 600;
        color: $colorTerciario;
    }
}