@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Square+Peg&display=swap');

$fontPrincipal: 'Square Peg', cursive;
$fontSecundaria: 'Quicksand', sans-serif;
$colorPrincipal: #fcedf7;
$colorSecundario:  #E18D92;
$colorTerciario: #3F403B;

%fuenteTitulos{
    font-family: $fontPrincipal;
    color: $colorSecundario;
    text-align: center;
    font-weight: bold;
}